html body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* Home page */
#home-page {   
    background-image: url(img/background1.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
}
#home-page div:last-child {
    width:230px;
}
.portrait img {
    margin: 50px 0 0 30px;
    border-radius: 50%;
    height: auto;
    width: 200px;
}
.name {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.name h1 {
    font-size: 100px;
    margin: 0;
    margin-top: 180px;
    padding: 0;
}
.name h4 {
    font-size: 65px;
    margin-top: 0;
}
.name a {
    height: 50px;
    width: 58px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url(img/scroll-down.png);
}
.name a:hover {
    background-image: url(img/orange.png);
    transition: 1s;
}
/* Nav bar */
nav {
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: black;    
    position: sticky;
    top:0;
}
.nav-container {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav p {
    font-size: 40px;
    margin: auto 0;
}
nav p a {
    color: white;
    text-decoration: none;
}
nav p a:hover, nav ul li a:hover{
    color: #d06560;
    transition: 1s;
}
nav ul {
    margin: auto 15px;
}
nav ul li {
    display: inline-block;
    text-decoration: none;
    color: White;
    margin: 0 25px;
    font-size: 20px;
    position: center;
}
nav ul li a {
    text-decoration: none;
    color: White;
}
#cv {
    color: #d06560;
    padding: 5px 15px;
    border:1px solid white;
    border-radius: 10px;
    vertical-align:middle;
}
/* Skills */
#skills-page {
    width: 80%;
    margin: 5px auto;
}
.skill {
    display: flex;
}
.skill .skill-left, .skill .skill-right {
    flex: 1;
    margin: 5px;
    width: 45%;
}
#skills-page p{
    padding-top: 50px;
    text-align: left;
    color: black;
}

.container {
    width: 100%;
    background-color: #ddd;
    border-radius: 4px;

}
.skills {
    text-align: right;
    padding: 2px 0;
    height: 5px;
}
.caca {
    display: flex;
    justify-content: space-between;
}
.html {
    width: 88%;
    background-color: #d06560;
    border-radius: 4px;
}
.css {
    width: 74%;
    background-color: #d06560;
    border-radius: 4px;
}
.js {
    width: 49%;
    background-color: #d06560;
    border-radius: 4px;
}
.git {
    width: 30%;
    background-color: #d06560;
    border-radius: 4px;
}
.communication {
    width: 85%;
    background-color: #d06560;
    border-radius: 4px;
}
.team-work {
    width: 95%;
    background-color: #d06560;
    border-radius: 4px;
}
/* box-title */
.box-title {
    padding: 0;
    margin: 70px 0 20px 0;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-title span {
    display: inline-block;
    height: 1px;
    width: 42%;
    background-color: grey;
    margin: 0 25px;
}
/* portofolio */
#portofolio-page {
    width: 80%;
    margin: 0 auto;
}
.games {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.game1, .game2 {
    margin: 15px;
    width: 45%;
    min-width: 450px;
    border: 1px solid black;
}
.game1 {
    display: flex;
    flex-direction: column;
}
.game1 img, .game2 img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    box-shadow: 2px 2px 10px #d06560;
}
.games h3{
    margin: 10px auto;
}
.games button {
    border: 1px solid black;;
    background-color: white;
    width: 120px;
    height: 40px;
    font-size: 20px;
    align-self: center;
    margin-bottom: 50px;
}
.games button:focus {
    outline: none;
}
.games button:hover {
    background-color: black;
    color: white;
    transition: 0.7s;
}
/* Contact */
#contact-page {
    background-image: url(./img/europe-map.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;

}
.footer-dimention {
    width: 80%;
    margin: 30px auto;   
}
#contact-page p{
    color: white;
}
.contact-content {
    width: 80%;
    margin: 30px auto;    
    color: white;
    display: flex;
}
.contact-left, .contact-right {
    width: 48%;
    margin: 10px;
}
.contact-left p {
    margin-bottom: 23px;
    text-align: middle;
}
.contact-left h2, .contact-right h2 {
    font-size: 38px;
    font-weight: 400;
}
.contact-info {
    width: 90%;
}
.contact-left .icon {
    margin:  auto 0;
}
.contact-left .icon img{
    width: 20px;
    height: 20px;
    margin: 0 15px 0 5px;
    padding: 0;
}
.contacts {
    display: flex;
    align-items: center;
    height: 50px;
}
.contacts a {
    text-decoration: none;
    color: #d06560;
}
.contact-right input {
    color: white;
    margin: 5px 0;
    padding: 2px 8px;
    width: 95%;
    height: 45px; 
    border: 1px solid grey;
    background: transparent;
}
.contact-right input[type="submit"] {
    width: 115px;
    font-size: 16px;
    font-weight: 500;

}
.contact-right input[type="submit"]:hover {
    color:black;
    font-weight: 500;
    background-color: white;
    transition: 0.5s;
}
.contact-right textarea {
    margin: 5px 0;
    width: 95%;
    background: transparent;
    height: 100px;
    caret-color: grey;
    padding: 2px 8px;
    resize: none;
    color: white;
}
.find {
    display: flex; 
}
.find div {
    justify-content: center;
    margin: 30px auto;
}
#contact-page .find-me {
    color: white;
    border-bottom: 1px solid grey;
    font-size: 50px;    
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 300px;
    font-weight: 400;
}
.find div a img:hover {
    opacity: 0.3;
}